.breadcrumb{
    padding: 7px;
    margin-left: auto;
    margin-right: auto;
   }
   .breadcrumb li{
     display: inline;
     
    
   }
   .breadcrumb li.location+li.location::before {
     content: "/";
   }
   
   .breadcrumb li.location a:hover{
   color: grey;
   text-decoration: underline;
   }
   
   .breadcrumb li.attribute a {
     color: gray;
   }
   .breadcrumb li.attribute a:hover {
     color: red;
   }
   
   .breadcrumb li.attribute::after {
     content: "x";
     color: red;
     font-size: 10px;
     vertical-align: super;
   }
   
   
   
   